# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "agrosavia-FLT-phenotype.tbl"
    genotypeFile     : "agrosavia-FLT-genotype-tetra-NUM.tbl"
    genotypeFormat   : "numeric"
    genotypePloidy   : 4
    gwasModel        : "Kinship+Structure"
    structureFile    : "agrosavia-FLT-structure.tbl"
    annotationsFile  : NULL

