# Configuration for agrosavia data filtered by plink
default:
 genotypeFile         : "agrosavia-genotype-2017.tbl"
 phenotypeFile        : "agrosavia-phenotype-2017.tbl"
 correctionMethod     : "Bonferroni"     # FDR, Bonferroni
 gwasModel            : "Naive"
 filtering            : FALSE
 MAF                  : 0.008   #0.001    # Default 0.01
 MIND                 : 0.3    #0.5      # Default 0.1
 GENO                 : 0.3    #0.5      # Default 0.1
 HWE                  : 1e-10  #1e-50    # Default 1e-10

