# Configuration for agrosavia data filtered by plink
default:
    phenotypeFile    : "phenotype-checked.tbl"
    genotypeFile     : "agrosavia-genotype-tetra-NUM-FLT.tbl"
    genotypeFormat   : "numeric"
    genotypePloidy   : 4
    gwasModel        : "Naive"
    structureFile    : NULL
    annotationsFile  : NULL

